# Q1. Write a python program to display all the header tags from wikipedia.org

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
page=requests.get("https://en.wikipedia.org/wiki/Main_Page")
soup=BeautifulSoup(page.text, 'html.parser')
soup.title.text

'Wikipedia, the free encyclopedia'

In [3]:
header=['h1', 'h2', 'h3']

for i in soup.find_all(header):
    print(i.text)

Main Page
Welcome to Wikipedia
From today's featured article
Did you know ...
In the news
On this day
From today's featured list
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages
Navigation menu

Search

# Q2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)and make data frame.

In [4]:
url=requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc")

In [5]:
soup=BeautifulSoup(url.text, 'html.parser')
soup.title.text

'IMDb "Top 100"\n(Sorted by IMDb Rating Descending) - IMDb'

In [6]:
movies=soup.find_all('div', class_="lister-item mode-advanced")

In [7]:
first_movie=movies[0]

In [8]:
#Name of the movie
first_movie.h3.a.text

'The Shawshank Redemption'

In [9]:
#Year of the movie
first_movie.find('span', class_="lister-item-year text-muted unbold" ).text[1:5]

'1994'

In [10]:
#Rating of the movie
first_movie.find('div', class_="inline-block ratings-imdb-rating")['data-value']

'9.3'

In [11]:
Name = []
Rating= []
Year = []

for i in movies:
    Name.append(i.h3.a.text)
    Year.append(i.find('span', class_="lister-item-year text-muted unbold" ).text[1:5])
    Rating.append(i.find('div', class_="inline-block ratings-imdb-rating")['data-value'])
    
data= list(zip(Name, Year, Rating))

In [12]:
import pandas as pd
df=pd.DataFrame(data, columns=['Name', 'Year', 'Rating'])
df.head()

                                            Name  Year Rating
0                       The Shawshank Redemption  1994    9.3
1                                  The Godfather  1972    9.2
2                                The Dark Knight  2008      9
3  The Lord of the Rings: The Return of the King  2003      9
4                               Schindler's List  1993      9

# Q3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [13]:
url= requests.get("https://www.imdb.com/list/ls009997493/")

In [14]:
soup= BeautifulSoup(url.text, 'html.parser')

In [15]:
Hindi_movies= soup.find_all('div', class_="lister-item mode-detail")

In [16]:
hindi_movie=Hindi_movies[0]

In [17]:
hindi_movie.h3.a.text

'Rang De Basanti'

In [18]:
hindi_movie.find('span', class_="ipl-rating-star__rating").text

'8.1'

In [19]:
hindi_movie.find('span', class_="lister-item-year text-muted unbold").text[1:5]

'2006'

In [20]:
Name= []
Rating=[]
Year=[]

for i in Hindi_movies:
    Name.append(i.h3.a.text)
    Rating.append(i.find('span', class_="ipl-rating-star__rating").text)
    Year.append(i.find('span', class_="lister-item-year text-muted unbold").text[1:5])
    
data=list(zip(Name, Rating, Year))

In [21]:
import pandas as pd
df=pd.DataFrame(data, columns=['Name', 'Rating', 'Year'])
df.head()

                     Name Rating  Year
0         Rang De Basanti    8.1  2006
1                3 Idiots    8.4  2009
2        Taare Zameen Par    8.3  2007
3          Dil Chahta Hai    8.1  2001
4  Swades: We, the People    8.1  2004

# Q4. Write a python program to scrape product name, price and discounts from https://meesho.com/bags-ladies/pl/p7vbp .

In [22]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [23]:
url=requests.get("https://meesho.com/bags-ladies/pl/p7vbp")
url

In [24]:
soup=BeautifulSoup(url.text, 'html.parser')

In [25]:
name=soup.find('p', class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS")
name.text

'Voguish Fancy Women Handbags'

In [26]:
price=soup.find('p',class_="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy")
price.text

'₹1599'

In [27]:
discount=soup.find('span', class_="Text__StyledText-sc-oo0kvp-0 lnonyH")
discount.text

'3% off'

In [28]:
Name=[]

for i in soup.find_all('p', class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS"):
    Name.append(i.text)
    
Name

['Voguish Fancy Women Handbags',
 'Ravishing Classy Women Handbags',
 'Classic Versatile Women Handbags',
 'Graceful Fancy Women Handbags',
 'Ravishing Alluring Women Handbags',
 'Classic Stylish Women Handbags',
 'Elegant Classy Women Handbags',
 'Graceful Versatile Women Handbags',
 'Ravishing Fashionable Women Handbags',
 'Elegant Alluring Women Handbags',
 'Classic Fancy Women Handbags',
 'Trendy Alluring Women Handbags',
 'Elegant Fashionable Women Handbags',
 'Trendy Alluring Women Handbags',
 'Classic Alluring Women Handbags',
 'Classic Fashionable Women Handbags']

In [29]:
Price=[]

for i in soup.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy"):
    Price.append(i.text)
    
Price

['₹1599',
 '₹1000',
 '₹1000',
 '₹578',
 '₹434',
 '₹3252',
 '₹1000',
 '₹1000',
 '₹366',
 '₹2387',
 '₹696',
 '₹1370',
 '₹775',
 '₹1000',
 '₹568',
 '₹670']

In [30]:
Discount=[]

for i in soup.find_all('span', class_="Text__StyledText-sc-oo0kvp-0 lnonyH"):
    Discount.append(i.text)
    
Discount

['3% off',
 '5% off',
 '5% off',
 '9% off',
 '12% off',
 '2% off',
 '5% off',
 '5% off',
 '14% off',
 '2% off',
 '7% off',
 '4% off',
 '6% off',
 '5% off',
 '9% off',
 '7% off']

In [31]:
data= list(zip(Name, Price, Discount))

In [32]:
import pandas as pd
df=pd.DataFrame(data, columns=['Name', 'Price', 'Discount'])
df.head()

                                Name  Price Discount
0       Voguish Fancy Women Handbags  ₹1599   3% off
1    Ravishing Classy Women Handbags  ₹1000   5% off
2   Classic Versatile Women Handbags  ₹1000   5% off
3      Graceful Fancy Women Handbags   ₹578   9% off
4  Ravishing Alluring Women Handbags   ₹434  12% off

# Q5. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [33]:
import requests
from bs4 import BeautifulSoup

In [34]:
url=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
url

In [35]:
soup=BeautifulSoup(url.content, 'html.parser')

In [36]:
team=soup.find_all('span', class_="u-hide-phablet")

In [37]:
ODI_team=[]

for i in range(0,10):
    ODI_team.append(team[i].text)
    
ODI_team

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [38]:
match=soup.find('td', class_="rankings-block__banner--matches")
match.text

'20'

In [39]:
add_info=[]
matches=soup.find_all('td', class_="table-body__cell u-center-text")
for i in matches:
    add_info.append(i.text)
    
add_info

['32',
 '3,793',
 '31',
 '3,475',
 '38',
 '4,162',
 '31',
 '3,167',
 '30',
 '2,921',
 '36',
 '3,350',
 '35',
 '2,835',
 '36',
 '2,788',
 '23',
 '1,562',
 '28',
 '1,445',
 '14',
 '712',
 '23',
 '951',
 '13',
 '459',
 '20',
 '651',
 '27',
 '777',
 '13',
 '268',
 '17',
 '308',
 '14',
 '232',
 '23',
 '178']

In [40]:
ODI_match=[]

for i in range(0, 18, 2):
    ODI_match.append(matches[i].text)
    
ODI_match

['32', '31', '38', '31', '30', '36', '35', '36', '23']

In [41]:
ODI_match.insert(0, '17')
ODI_match

['17', '32', '31', '38', '31', '30', '36', '35', '36', '23']

In [42]:
rank=soup.find('td', class_="rankings-block__banner--points")
rank.text

'2,448'

In [43]:
info=[]
ranking=soup.find_all('td', class_="table-body__cell u-center-text")
for i in ranking:
    info.append(i.text)
    
info

['32',
 '3,793',
 '31',
 '3,475',
 '38',
 '4,162',
 '31',
 '3,167',
 '30',
 '2,921',
 '36',
 '3,350',
 '35',
 '2,835',
 '36',
 '2,788',
 '23',
 '1,562',
 '28',
 '1,445',
 '14',
 '712',
 '23',
 '951',
 '13',
 '459',
 '20',
 '651',
 '27',
 '777',
 '13',
 '268',
 '17',
 '308',
 '14',
 '232',
 '23',
 '178']

In [44]:
ODI_points=[]

for i in range(1, 18, 2):
    ODI_points.append(ranking[i].text)
    
ODI_points

['3,793',
 '3,475',
 '4,162',
 '3,167',
 '2,921',
 '3,350',
 '2,835',
 '2,788',
 '1,562']

In [45]:
ODI_points.insert(0,'2,448')
ODI_points

['2,448',
 '3,793',
 '3,475',
 '4,162',
 '3,167',
 '2,921',
 '3,350',
 '2,835',
 '2,788',
 '1,562']

In [46]:
rating=soup.find('td', class_="rankings-block__banner--rating u-text-right")
rating.text.replace('\n', " ")

'                             122                               '

In [47]:
rating_info=[]
additional=soup.find_all('td', class_="table-body__cell u-text-right rating")
for i in additional:
    rating_info.append(i.text.replace('\n', ''))
    
rating_info

['119',
 '112',
 '110',
 '102',
 '97',
 '93',
 '81',
 '77',
 '68',
 '52',
 '51',
 '41',
 '35',
 '33',
 '29',
 '21',
 '18',
 '17',
 '8']

In [48]:
ODI_rating=[]

for i in range(0,9):
    ODI_rating.append(additional[i].text)
    
ODI_rating

['119', '112', '110', '102', '97', '93', '81', '77', '68']

In [49]:
ODI_rating.insert(0, '122')
ODI_rating

['122', '119', '112', '110', '102', '97', '93', '81', '77', '68']

In [50]:
data=list(zip(ODI_team, ODI_match, ODI_points, ODI_rating ))

In [51]:
import pandas as pd
df=pd.DataFrame(data, columns=['ODI_team', 'ODI_match', 'ODI_points', 'ODI_rating'])
df

       ODI_team ODI_match ODI_points ODI_rating
0   New Zealand        17      2,448        122
1       England        32      3,793        119
2     Australia        31      3,475        112
3         India        38      4,162        110
4  South Africa        31      3,167        102
5      Pakistan        30      2,921         97
6    Bangladesh        36      3,350         93
7     Sri Lanka        35      2,835         81
8   West Indies        36      2,788         77
9   Afghanistan        23      1,562         68

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [52]:
url= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

url

In [53]:
soup=BeautifulSoup(url.text, 'html.parser')

In [54]:
Batsman=soup.find('div', class_="rankings-block__banner--name-large")
Batsman.text

'Babar Azam'

In [55]:
Batsman_info=[]
add_batsman=soup.find_all('td', class_="table-body__cell rankings-table__name name")
for i in add_batsman:
    Batsman_info.append(i.text.replace('\n', ''))
    
Batsman_info

['Virat Kohli',
 'Imam-ul-Haq',
 'Rohit Sharma',
 'Quinton de Kock',
 'Jonny Bairstow',
 'Ross Taylor',
 'Rassie van der Dussen',
 'David Warner',
 'Aaron Finch',
 'Joe Root',
 'Fakhar Zaman',
 'Shai Hope',
 'Shikhar Dhawan',
 'Martin Guptill',
 'Mushfiqur Rahim',
 'Jason Roy',
 'Steve Smith',
 'Glenn Maxwell',
 'Tamim Iqbal',
 'Paul Stirling',
 'Alex Carey',
 'Ben Stokes',
 'Eoin Morgan',
 'Tom Latham',
 'Lokesh Rahul',
 'Shakib Al Hasan',
 'David Miller',
 'Jos Buttler',
 'Litton Das',
 'Rahmat Shah',
 'Shimron Hetmyer',
 'Haris Sohail',
 'Travis Head',
 'Nicholas Pooran',
 'Andrew Balbirnie',
 'Kyle Coetzer',
 'Janneman Malan',
 'Henry Nicholls',
 'Mahmudullah',
 'Avishka Fernando',
 'Sean Williams',
 'Aqib Ilyas',
 'Najibullah Zadran',
 'Kariyawasa Asalanka',
 'Harry Tector',
 'Kusal Perera',
 'Evin Lewis',
 'Sikandar Raza',
 'Rahmanullah Gurbaz',
 'Angelo Mathews',
 'Hardik Pandya',
 'Assad Vala',
 'Marcus Stoinis',
 'Danushka Gunathilaka',
 'Imad Wasim',
 'Hashmatullah Shaidi',
 'Kusal Mendis',
 'Soumya Sarkar',
 'Temba Bavuma',
 'Colin de Grandhomme',
 'Calum MacLeod',
 'Sarfaraz Ahmed',
 'Shreyas Iyer',
 'Marnus Labuschagne',
 'Mohammad Nabi',
 'Jimmy Neesham',
 'Niroshan Dickwella',
 'Richard Berrington',
 'Craig Ervine',
 'Mitchell Marsh',
 'William Porterfield',
 'Muhammad Usman',
 'Aiden Markram',
 'Rishabh Pant',
 'Dhananjaya de Silva',
 'Dasun Shanaka',
 'George Munsey',
 'Heinrich Klaasen',
 'Mitchell Santner',
 'Jason Holder',
 'Kyle Verreynne',
 'R.K. Paudel',
 'Rohan Mustafa',
 'Afif Hossain',
 'Gerhard Erasmus',
 'Rashid Khan',
 'Zeeshan Maqsood',
 'Ravindra Jadeja',
 'Suryakumar Yadav',
 'Mithun Ali',
 'Matthew Wade',
 'Andile Phehlukwayo',
 'Dinesh Chandimal',
 'Mohammad Rizwan',
 'Rovman Powell',
 'Jatinder Singh',
 'Matthew Cross',
 'Gulbadin Naib',
 'Moeen Ali']

In [56]:
ODI_Batsman=[]

for i in range(0,9):
    ODI_Batsman.append(add_batsman[i].text.replace('\n', ''))
    
ODI_Batsman

['Virat Kohli',
 'Imam-ul-Haq',
 'Rohit Sharma',
 'Quinton de Kock',
 'Jonny Bairstow',
 'Ross Taylor',
 'Rassie van der Dussen',
 'David Warner',
 'Aaron Finch']

In [57]:
ODI_Batsman.insert(0, 'Babar Azam')
ODI_Batsman

['Babar Azam',
 'Virat Kohli',
 'Imam-ul-Haq',
 'Rohit Sharma',
 'Quinton de Kock',
 'Jonny Bairstow',
 'Ross Taylor',
 'Rassie van der Dussen',
 'David Warner',
 'Aaron Finch']

In [58]:
team=[]
player_team=soup.find_all('td', class_="table-body__cell nationality-logo rankings-table__team")
for i in player_team:
    team.append(i.text.replace('\n', ''))
    
team

['IND',
 'PAK',
 'IND',
 'SA',
 'ENG',
 'NZ',
 'SA',
 'AUS',
 'AUS',
 'ENG',
 'PAK',
 'WI',
 'IND',
 'NZ',
 'BAN',
 'ENG',
 'AUS',
 'AUS',
 'BAN',
 'IRE',
 'AUS',
 'ENG',
 'ENG',
 'NZ',
 'IND',
 'BAN',
 'SA',
 'ENG',
 'BAN',
 'AFG',
 'WI',
 'PAK',
 'AUS',
 'WI',
 'IRE',
 'SCO',
 'SA',
 'NZ',
 'BAN',
 'SL',
 'ZIM',
 'OMA',
 'AFG',
 'SL',
 'IRE',
 'SL',
 'WI',
 'ZIM',
 'AFG',
 'SL',
 'IND',
 'PNG',
 'AUS',
 'SL',
 'PAK',
 'AFG',
 'SL',
 'BAN',
 'SA',
 'NZ',
 'SCO',
 'PAK',
 'IND',
 'AUS',
 'AFG',
 'NZ',
 'SL',
 'SCO',
 'ZIM',
 'AUS',
 'IRE',
 'UAE',
 'SA',
 'IND',
 'SL',
 'SL',
 'SCO',
 'SA',
 'NZ',
 'WI',
 'SA',
 'NEP',
 'UAE',
 'BAN',
 'NAM',
 'AFG',
 'OMA',
 'IND',
 'IND',
 'BAN',
 'AUS',
 'SA',
 'SL',
 'PAK',
 'WI',
 'OMA',
 'SCO',
 'AFG',
 'ENG']

In [59]:
ODI_Team=[]
for i in range(0,9):
    ODI_Team.append(player_team[i].text.replace('\n', ''))
ODI_Team

['IND', 'PAK', 'IND', 'SA', 'ENG', 'NZ', 'SA', 'AUS', 'AUS']

In [60]:
ODI_Team.insert(0, 'PAK')
ODI_Team

['PAK', 'IND', 'PAK', 'IND', 'SA', 'ENG', 'NZ', 'SA', 'AUS', 'AUS']

In [61]:
rating=[]
player_rating=soup.find_all('td', class_="table-body__cell rating")
for i in player_rating:
    rating.append(i.text)

rating

['811',
 '795',
 '791',
 '789',
 '775',
 '775',
 '769',
 '750',
 '745',
 '740',
 '730',
 '713',
 '701',
 '696',
 '691',
 '687',
 '686',
 '664',
 '662',
 '660',
 '651',
 '651',
 '650',
 '646',
 '640',
 '638',
 '630',
 '608',
 '602',
 '593',
 '589',
 '585',
 '581',
 '580',
 '575',
 '575',
 '574',
 '571',
 '567',
 '560',
 '559',
 '551',
 '547',
 '546',
 '544',
 '543',
 '541',
 '540',
 '538',
 '534',
 '532',
 '525',
 '524',
 '522',
 '517',
 '512',
 '511',
 '506',
 '502',
 '501',
 '500',
 '497',
 '491',
 '491',
 '490',
 '488',
 '488',
 '487',
 '483',
 '482',
 '473',
 '472',
 '471',
 '469',
 '466',
 '464',
 '464',
 '460',
 '453',
 '441',
 '437',
 '435',
 '434',
 '429',
 '427',
 '426',
 '422',
 '421',
 '420',
 '420',
 '418',
 '416',
 '414',
 '413',
 '407',
 '407',
 '405',
 '405',
 '404']

In [62]:
ODI_Player_Rating=[]

for i in range(0,9):
    ODI_Player_Rating.append(player_rating[i].text)
    
ODI_Player_Rating

['811', '795', '791', '789', '775', '775', '769', '750', '745']

In [63]:
ODI_Player_Rating.insert(0, '891')
ODI_Player_Rating

['891', '811', '795', '791', '789', '775', '775', '769', '750', '745']

In [64]:
data=list(zip(ODI_Batsman,ODI_Team,ODI_Player_Rating))

In [65]:
import pandas as pd
df=pd.DataFrame(data, columns=['ODI_Batsman','ODI_Team','ODI_Player_Rating'])
df

             ODI_Batsman ODI_Team ODI_Player_Rating
0             Babar Azam      PAK               891
1            Virat Kohli      IND               811
2            Imam-ul-Haq      PAK               795
3           Rohit Sharma      IND               791
4        Quinton de Kock       SA               789
5         Jonny Bairstow      ENG               775
6            Ross Taylor       NZ               775
7  Rassie van der Dussen       SA               769
8           David Warner      AUS               750
9            Aaron Finch      AUS               745

c) Top 10 ODI bowlers along with the records of their team and rating.

In [66]:
url=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
url

In [67]:
soup=BeautifulSoup(url.text, 'html.parser')

In [68]:
Bowler_info=[]
add_bowler=soup.find_all('td', class_="table-body__cell rankings-table__name name")
for i in add_bowler:
    Bowler_info.append(i.text.replace('\n', ''))
    
Bowler_info

['Chris Woakes',
 'Josh Hazlewood',
 'Matt Henry',
 'Mujeeb Ur Rahman',
 'Jasprit Bumrah',
 'Shaheen Afridi',
 'Mehedi Hasan',
 'Shakib Al Hasan',
 'Rashid Khan',
 'Andy McBrine',
 'Kagiso Rabada',
 'Mitchell Starc',
 'Adam Zampa',
 'Pat Cummins',
 'Mustafizur Rahman',
 'Yuzvendra Chahal',
 'Lungi Ngidi',
 'Mohammad Nabi',
 'Mark Wood',
 'Alzarri Joseph',
 'Bhuvneshwar Kumar',
 'Tabraiz Shamsi',
 'Mitchell Santner',
 'Akila Dananjaya',
 'Mohammad Shami',
 'Dushmantha Chameera',
 'Ahmed Raza',
 'Kuldeep Yadav',
 'Ravindra Jadeja',
 'Keshav Maharaj',
 'Sheldon Cottrell',
 'Wanindu Hasaranga',
 'Taskin Ahmed',
 'Colin de Grandhomme',
 'Mark Watt',
 'Shadab Khan',
 'Ish Sodhi',
 'Bilal Khan',
 'David Willey',
 'Simi Singh',
 'Adil Rashid',
 'Blessing Muzarabani',
 'Rohan Mustafa',
 'M. Prasidh Krishna',
 'Joshua Little',
 'Imad Wasim',
 'Sandeep Lamichhane',
 'Dwaine Pretorius',
 'Andile Phehlukwayo',
 'Craig Young',
 'Hasan Ali',
 'Tendai Chatara',
 'Jason Holder',
 'Akeal Hosein',
 'Fred Klaassen',
 'Nuwan Pradeep',
 'Saqib Mahmood',
 'Mohammad Mohammad Saifuddin',
 'Jimmy Neesham',
 'Moeen Ali',
 'Kaleemullah',
 'Chad Soper',
 'Wahab Riaz',
 'Faheem Ashraf',
 'Tom Curran',
 'Safyaan Sharif',
 'Haris Rauf',
 'Suranga Lakmal',
 'Ashton Agar',
 'Zeeshan Maqsood',
 'Saurabh Netravalkar',
 'Anrich Nortje',
 'Ben Stokes',
 'Zahoor Khan',
 'Alasdair Evans',
 'Sikandar Raza',
 'Kemar Roach',
 'Sean Williams',
 'Jason Behrendorff',
 'Doug Bracewell',
 'Dhananjaya de Silva',
 'Shardul Thakur',
 'Wayne Parnell',
 'Rubel Hossain',
 'Mitchell Marsh',
 'Hardik Pandya',
 'Gulbadin Naib',
 'Ravichandran Ashwin',
 'Maheesh Theekshana',
 'Barry McCarthy',
 'Nosaina Pokana',
 'Assad Vala',
 'Marcus Stoinis',
 'Michael Leask',
 'Junaid Siddique',
 'Norman Vanua',
 'Mohammad Nawaz',
 'Jeffrey Vandersay',
 'Lakshan Sandakan']

In [69]:
Bowler_Name=[]

for i in range(0, 9):
    Bowler_Name.append(add_bowler[i].text.replace('\n', ''))
Bowler_Name

['Chris Woakes',
 'Josh Hazlewood',
 'Matt Henry',
 'Mujeeb Ur Rahman',
 'Jasprit Bumrah',
 'Shaheen Afridi',
 'Mehedi Hasan',
 'Shakib Al Hasan',
 'Rashid Khan']

In [70]:
Bowler_Name.insert(0, 'Trent Boult')
Bowler_Name

['Trent Boult',
 'Chris Woakes',
 'Josh Hazlewood',
 'Matt Henry',
 'Mujeeb Ur Rahman',
 'Jasprit Bumrah',
 'Shaheen Afridi',
 'Mehedi Hasan',
 'Shakib Al Hasan',
 'Rashid Khan']

In [71]:
Bowler_team=[]
team_bowler=soup.find_all('td', class_="table-body__cell nationality-logo rankings-table__team")
for i in team_bowler:
    Bowler_team.append(i.text.replace('\n', ''))
    
Bowler_team

['ENG',
 'AUS',
 'NZ',
 'AFG',
 'IND',
 'PAK',
 'BAN',
 'BAN',
 'AFG',
 'IRE',
 'SA',
 'AUS',
 'AUS',
 'AUS',
 'BAN',
 'IND',
 'SA',
 'AFG',
 'ENG',
 'WI',
 'IND',
 'SA',
 'NZ',
 'SL',
 'IND',
 'SL',
 'UAE',
 'IND',
 'IND',
 'SA',
 'WI',
 'SL',
 'BAN',
 'NZ',
 'SCO',
 'PAK',
 'NZ',
 'OMA',
 'ENG',
 'IRE',
 'ENG',
 'ZIM',
 'UAE',
 'IND',
 'IRE',
 'PAK',
 'NEP',
 'SA',
 'SA',
 'IRE',
 'PAK',
 'ZIM',
 'WI',
 'WI',
 'NED',
 'SL',
 'ENG',
 'BAN',
 'NZ',
 'ENG',
 'OMA',
 'PNG',
 'PAK',
 'PAK',
 'ENG',
 'SCO',
 'PAK',
 'SL',
 'AUS',
 'OMA',
 'USA',
 'SA',
 'ENG',
 'UAE',
 'SCO',
 'ZIM',
 'WI',
 'ZIM',
 'AUS',
 'NZ',
 'SL',
 'IND',
 'SA',
 'BAN',
 'AUS',
 'IND',
 'AFG',
 'IND',
 'SL',
 'IRE',
 'PNG',
 'PNG',
 'AUS',
 'SCO',
 'UAE',
 'PNG',
 'PAK',
 'SL',
 'SL']

In [72]:
Bowler_Team=[]
for i in range(0, 9):
    Bowler_Team.append(Bowler_team[i])
    
Bowler_Team

['ENG', 'AUS', 'NZ', 'AFG', 'IND', 'PAK', 'BAN', 'BAN', 'AFG']

In [73]:
Bowler_Team.insert(0, 'NZ')
Bowler_Team

['NZ', 'ENG', 'AUS', 'NZ', 'AFG', 'IND', 'PAK', 'BAN', 'BAN', 'AFG']

In [74]:
Bowler_rating=[]
rating_bowler=soup.find_all('td', class_="table-body__cell rating")
for i in rating_bowler:
    Bowler_rating.append(i.text.replace('\n', ''))
    
Bowler_rating

['700',
 '698',
 '683',
 '681',
 '679',
 '671',
 '661',
 '657',
 '650',
 '646',
 '644',
 '642',
 '634',
 '627',
 '614',
 '610',
 '607',
 '603',
 '594',
 '593',
 '585',
 '582',
 '574',
 '574',
 '549',
 '540',
 '539',
 '538',
 '534',
 '531',
 '525',
 '523',
 '523',
 '523',
 '519',
 '509',
 '509',
 '504',
 '501',
 '499',
 '497',
 '484',
 '483',
 '481',
 '480',
 '480',
 '478',
 '476',
 '470',
 '470',
 '466',
 '466',
 '460',
 '458',
 '458',
 '455',
 '454',
 '454',
 '451',
 '449',
 '445',
 '442',
 '441',
 '438',
 '436',
 '436',
 '435',
 '429',
 '429',
 '421',
 '419',
 '417',
 '410',
 '409',
 '408',
 '406',
 '401',
 '401',
 '400',
 '396',
 '395',
 '393',
 '392',
 '388',
 '384',
 '382',
 '382',
 '381',
 '380',
 '379',
 '379',
 '379',
 '377',
 '374',
 '372',
 '366',
 '365',
 '365',
 '365']

In [75]:
Bowler_Rating=[]

for i in range(0, 9):
    Bowler_Rating.append(rating_bowler[i].text)
    
Bowler_Rating

['700', '698', '683', '681', '679', '671', '661', '657', '650']

In [76]:
Bowler_Rating.insert(0, '726')
Bowler_Rating

['726', '700', '698', '683', '681', '679', '671', '661', '657', '650']

In [77]:
data=list(zip(Bowler_Name, Bowler_Team, Bowler_Rating))

In [78]:
df=pd.DataFrame(data, columns=['Bowler_Name', 'Bowler_Team', 'Bowler_Rating'])
df

        Bowler_Name Bowler_Team Bowler_Rating
0       Trent Boult          NZ           726
1      Chris Woakes         ENG           700
2    Josh Hazlewood         AUS           698
3        Matt Henry          NZ           683
4  Mujeeb Ur Rahman         AFG           681
5    Jasprit Bumrah         IND           679
6    Shaheen Afridi         PAK           671
7      Mehedi Hasan         BAN           661
8   Shakib Al Hasan         BAN           657
9       Rashid Khan         AFG           650

# Q6. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [79]:
from bs4 import BeautifulSoup
import requests

In [80]:
url=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
url

In [81]:
soup=BeautifulSoup(url.text, 'html.parser')

In [82]:
team=soup.find_all('span', class_="u-hide-phablet")

In [83]:
Women_ODI_team=[]

for i in range(0, 10):
    Women_ODI_team.append(team[i].text)
    
Women_ODI_team

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Pakistan',
 'Ireland',
 'Sri Lanka']

In [84]:
match=soup.find('td', class_="rankings-block__banner--matches")
match.text

'29'

In [85]:
add_info=[]
matches=soup.find_all('td', class_="table-body__cell u-center-text")
for i in matches:
    add_info.append(i.text)
    
add_info

['28',
 '3,504',
 '30',
 '3,533',
 '29',
 '2,878',
 '31',
 '3,030',
 '28',
 '2,481',
 '12',
 '936',
 '26',
 '1,752',
 '5',
 '240',
 '5',
 '233',
 '8',
 '0']

In [86]:
Women_ODI_match=[]

for i in range(0, 18, 2):
    Women_ODI_match.append(matches[i].text)
    
Women_ODI_match

['28', '30', '29', '31', '28', '12', '26', '5', '5']

In [87]:
Women_ODI_match.insert(0, '29')
Women_ODI_match

['29', '28', '30', '29', '31', '28', '12', '26', '5', '5']

In [88]:
points=soup.find('td', class_="rankings-block__banner--points")
points.text

'4,840'

In [89]:
info=[]
ranking=soup.find_all('td', class_="table-body__cell u-center-text")
for i in ranking:
    info.append(i.text)
    
info

['28',
 '3,504',
 '30',
 '3,533',
 '29',
 '2,878',
 '31',
 '3,030',
 '28',
 '2,481',
 '12',
 '936',
 '26',
 '1,752',
 '5',
 '240',
 '5',
 '233',
 '8',
 '0']

In [90]:
Women_ODI_points=[]

for i in range(1, 18, 2):
    Women_ODI_points.append(ranking[i].text)
    
Women_ODI_points

['3,504', '3,533', '2,878', '3,030', '2,481', '936', '1,752', '240', '233']

In [91]:
Women_ODI_points.insert(0,'4,840')
Women_ODI_points

['4,840',
 '3,504',
 '3,533',
 '2,878',
 '3,030',
 '2,481',
 '936',
 '1,752',
 '240',
 '233']

In [92]:
rating=soup.find('td', class_="rankings-block__banner--rating u-text-right")
rating.text.replace('\n', " ")

'                             167                               '

In [93]:
rating_info=[]
additional=soup.find_all('td', class_="table-body__cell u-text-right rating")
for i in additional:
    rating_info.append(i.text.replace('\n', ''))
    
rating_info

['125', '118', '99', '98', '89', '78', '67', '48', '47', '0']

In [94]:
Women_ODI_rating=[]

for i in range(0,9):
    Women_ODI_rating.append(additional[i].text)
    
Women_ODI_rating

['125', '118', '99', '98', '89', '78', '67', '48', '47']

In [95]:
Women_ODI_rating.insert(0, '167')
Women_ODI_rating

['167', '125', '118', '99', '98', '89', '78', '67', '48', '47']

In [96]:
data=list(zip(Women_ODI_team, Women_ODI_match, Women_ODI_points, Women_ODI_rating ))

In [97]:
import pandas as pd
df=pd.DataFrame(data, columns=['Women_ODI_team', 'Women_ODI_match', 'Women_ODI_points', 'Women_ODI_rating'])
df

  Women_ODI_team Women_ODI_match Women_ODI_points Women_ODI_rating
0      Australia              29            4,840              167
1   South Africa              28            3,504              125
2        England              30            3,533              118
3          India              29            2,878               99
4    New Zealand              31            3,030               98
5    West Indies              28            2,481               89
6     Bangladesh              12              936               78
7       Pakistan              26            1,752               67
8        Ireland               5              240               48
9      Sri Lanka               5              233               47

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [98]:
from bs4 import BeautifulSoup
import requests

In [99]:
url=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
url

In [100]:
soup=BeautifulSoup(url.text, 'html.parser')

In [101]:
Batsman=soup.find('div', class_="rankings-block__banner--name-large")
Batsman.text

'Alyssa Healy'

In [102]:
Batsman_info=[]
add_batsman=soup.find_all('td', class_="table-body__cell rankings-table__name name")
for i in add_batsman:
    Batsman_info.append(i.text.replace('\n', ''))
    
Batsman_info

['Natalie Sciver',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Meg Lanning',
 'Rachael Haynes',
 'Mithali Raj',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Tammy Beaumont',
 'Ellyse Perry',
 'Deandra Dottin',
 'Stafanie Taylor',
 'Harmanpreet Kaur',
 'Heather Knight',
 'Amelia Kerr',
 'Sophie Devine',
 'Lizelle Lee',
 'Mignon du Preez',
 'Suzie Bates',
 'Hayley Matthews',
 'Marizanne Kapp',
 'Sune Luus',
 'Ashleigh Gardner',
 'Danielle Wyatt',
 'Bismah Maroof',
 'Amy Jones',
 'Maddie Green',
 'Deepti Sharma',
 'Fargana Hoque',
 'Aliya Riaz',
 'Tahlia McGrath',
 'Chloe-Lesleigh Tryon',
 'Nahida Khan',
 'Gaby Lewis',
 'Sophia Dunkley',
 'Poonam Raut',
 'Nida Dar',
 'Katey Martin',
 'Yastika Bhatia',
 'Javeria Khan',
 'Laura Delany',
 'Dane van Niekerk',
 'Rumana Ahmed',
 'Shafali Verma',
 'Shemaine Campbelle',
 'Umaima Sohail',
 'Katherine Brunt',
 'Brooke Halliday',
 'Richa Ghosh',
 'Jess Jonassen',
 'Trisha Chetty',
 'Sidra Ameen',
 'Lauren Winfield',
 'Sharmin Supta',
 'Jhulan Goswami',
 'Nigar Sultana',
 'Muneeba Ali',
 'Salma Khatun',
 'Leah Paul',
 'Chedean Nation',
 'Pooja Vastrakar',
 'Lata Mondal',
 'Lauren Down',
 'Lara Goodall',
 'Katie Perkins',
 'Nicola Carey',
 'Sophie Ecclestone',
 'Kycia Knight',
 'Murshida Khatun',
 'Shamima Sultana',
 'Mary Waldron',
 'Mary-Anne Musonda',
 'Shikha Pandey',
 'Annabel Sutherland',
 'Jess Kerr',
 'Tazmin Brits',
 'Kate Cross',
 'Ritu Moni',
 'Amy Hunter',
 'Jemimah Rodriques',
 'Kyshona Knight',
 'Josephine Nkomo',
 'Sabbhineni Meghana',
 'Eimear Richardson',
 'Sneh Rana',
 'Lea Tahuhu',
 'Priya Punia',
 'Hayley Jensen',
 'Rajeshwari Gayakwad',
 'Andrie Steyn',
 'Shauna Kavanagh',
 'Nashra Sandhu',
 'Diana Baig',
 'Anya Shrubsole',
 'Orla Prendergast',
 'Charlotte Dean',
 'Meghna Singh',
 'Sharne Mayers',
 'Megan Schutt']

In [103]:
ODI_Batsman=[]

for i in range(0,9):
    ODI_Batsman.append(add_batsman[i].text.replace('\n', ''))
    
ODI_Batsman

['Natalie Sciver',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Meg Lanning',
 'Rachael Haynes',
 'Mithali Raj',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Tammy Beaumont']

In [104]:
ODI_Batsman.insert(0, 'Alyssa Healy')
ODI_Batsman

['Alyssa Healy',
 'Natalie Sciver',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Meg Lanning',
 'Rachael Haynes',
 'Mithali Raj',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Tammy Beaumont']

In [105]:
team=[]
player_team=soup.find_all('td', class_="table-body__cell nationality-logo rankings-table__team")
for i in player_team:
    team.append(i.text.replace('\n', ''))
    
team

['ENG',
 'AUS',
 'SA',
 'AUS',
 'AUS',
 'IND',
 'NZ',
 'IND',
 'ENG',
 'AUS',
 'WI',
 'WI',
 'IND',
 'ENG',
 'NZ',
 'NZ',
 'SA',
 'SA',
 'NZ',
 'WI',
 'SA',
 'SA',
 'AUS',
 'ENG',
 'PAK',
 'ENG',
 'NZ',
 'IND',
 'BAN',
 'PAK',
 'AUS',
 'SA',
 'PAK',
 'IRE',
 'ENG',
 'IND',
 'PAK',
 'NZ',
 'IND',
 'PAK',
 'IRE',
 'SA',
 'BAN',
 'IND',
 'WI',
 'PAK',
 'ENG',
 'NZ',
 'IND',
 'AUS',
 'SA',
 'PAK',
 'ENG',
 'BAN',
 'IND',
 'BAN',
 'PAK',
 'BAN',
 'IRE',
 'WI',
 'IND',
 'BAN',
 'NZ',
 'SA',
 'NZ',
 'AUS',
 'ENG',
 'WI',
 'BAN',
 'BAN',
 'IRE',
 'ZIM',
 'IND',
 'AUS',
 'NZ',
 'SA',
 'ENG',
 'BAN',
 'IRE',
 'IND',
 'WI',
 'ZIM',
 'IND',
 'IRE',
 'IND',
 'NZ',
 'IND',
 'NZ',
 'IND',
 'SA',
 'IRE',
 'PAK',
 'PAK',
 'ENG',
 'IRE',
 'ENG',
 'IND',
 'ZIM',
 'AUS']

In [106]:
ODI_Team=[]
for i in range(0,9):
    ODI_Team.append(player_team[i].text.replace('\n', ''))
ODI_Team

['ENG', 'AUS', 'SA', 'AUS', 'AUS', 'IND', 'NZ', 'IND', 'ENG']

In [107]:
ODI_Team.insert(0, 'AUS')
ODI_Team

['AUS', 'ENG', 'AUS', 'SA', 'AUS', 'AUS', 'IND', 'NZ', 'IND', 'ENG']

In [108]:
rating=[]
player_rating=soup.find_all('td', class_="table-body__cell rating")
for i in player_rating:
    rating.append(i.text)

rating

['750',
 '748',
 '722',
 '710',
 '701',
 '686',
 '681',
 '669',
 '659',
 '642',
 '625',
 '616',
 '602',
 '601',
 '597',
 '591',
 '588',
 '581',
 '568',
 '553',
 '543',
 '512',
 '506',
 '493',
 '484',
 '483',
 '474',
 '471',
 '468',
 '450',
 '445',
 '436',
 '434',
 '431',
 '426',
 '421',
 '420',
 '420',
 '407',
 '392',
 '388',
 '384',
 '382',
 '378',
 '376',
 '376',
 '373',
 '346',
 '346',
 '339',
 '335',
 '333',
 '331',
 '330',
 '328',
 '326',
 '322',
 '321',
 '317',
 '316',
 '304',
 '297',
 '294',
 '294',
 '293',
 '271',
 '268',
 '263',
 '252',
 '248',
 '248',
 '242',
 '242',
 '241',
 '238',
 '238',
 '235',
 '229',
 '228',
 '223',
 '223',
 '221',
 '217',
 '217',
 '216',
 '213',
 '212',
 '212',
 '209',
 '208',
 '207',
 '198',
 '197',
 '197',
 '193',
 '192',
 '191',
 '191',
 '191']

In [109]:
ODI_Player_Rating=[]

for i in range(0,9):
    ODI_Player_Rating.append(player_rating[i].text)
    
ODI_Player_Rating

['750', '748', '722', '710', '701', '686', '681', '669', '659']

In [110]:
ODI_Player_Rating.insert(0, '785')
ODI_Player_Rating

['785', '750', '748', '722', '710', '701', '686', '681', '669', '659']

In [111]:
data=list(zip(ODI_Batsman,ODI_Team,ODI_Player_Rating))

In [112]:
import pandas as pd
df=pd.DataFrame(data, columns=['ODI_Batsman','ODI_Team','ODI_Player_Rating'])
df

         ODI_Batsman ODI_Team ODI_Player_Rating
0       Alyssa Healy      AUS               785
1     Natalie Sciver      ENG               750
2        Beth Mooney      AUS               748
3    Laura Wolvaardt       SA               722
4        Meg Lanning      AUS               710
5     Rachael Haynes      AUS               701
6        Mithali Raj      IND               686
7  Amy Satterthwaite       NZ               681
8    Smriti Mandhana      IND               669
9     Tammy Beaumont      ENG               659

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [113]:
import requests
from bs4 import BeautifulSoup

In [114]:
url=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
url

In [115]:
soup=BeautifulSoup(url.text, 'html.parser')

In [116]:
All_rounder_info=[]
add_All_rounder=soup.find_all('td', class_="table-body__cell rankings-table__name name")
for i in add_All_rounder:
    All_rounder_info.append(i.text.replace('\n', ''))
    
All_rounder_info

['Ellyse Perry',
 'Marizanne Kapp',
 'Hayley Matthews',
 'Amelia Kerr',
 'Ashleigh Gardner',
 'Deepti Sharma',
 'Jess Jonassen',
 'Katherine Brunt',
 'Jhulan Goswami',
 'Sophie Ecclestone',
 'Stafanie Taylor',
 'Nida Dar',
 'Sophie Devine',
 'Sune Luus',
 'Rumana Ahmed',
 'Dane van Niekerk',
 'Salma Khatun',
 'Heather Knight',
 'Tahlia McGrath']

In [117]:
All_rounder_Name=[]

for i in range(0, 9):
    All_rounder_Name.append(add_All_rounder[i].text.replace('\n', ''))
    
All_rounder_Name

['Ellyse Perry',
 'Marizanne Kapp',
 'Hayley Matthews',
 'Amelia Kerr',
 'Ashleigh Gardner',
 'Deepti Sharma',
 'Jess Jonassen',
 'Katherine Brunt',
 'Jhulan Goswami']

In [118]:
All_rounder_Name.insert(0, 'Natalie Sciver')
All_rounder_Name

['Natalie Sciver',
 'Ellyse Perry',
 'Marizanne Kapp',
 'Hayley Matthews',
 'Amelia Kerr',
 'Ashleigh Gardner',
 'Deepti Sharma',
 'Jess Jonassen',
 'Katherine Brunt',
 'Jhulan Goswami']

In [119]:
All_rounder_team=[]
team_All_rounder=soup.find_all('td', class_="table-body__cell nationality-logo rankings-table__team")
for i in team_All_rounder:
    All_rounder_team.append(i.text.replace('\n', ''))
    
All_rounder_team

['AUS',
 'SA',
 'WI',
 'NZ',
 'AUS',
 'IND',
 'AUS',
 'ENG',
 'IND',
 'ENG',
 'WI',
 'PAK',
 'NZ',
 'SA',
 'BAN',
 'SA',
 'BAN',
 'ENG',
 'AUS']

In [120]:
All_rounder_Team=[]
for i in range(0, 9):
    All_rounder_Team.append(All_rounder_team[i])
    
All_rounder_Team

['AUS', 'SA', 'WI', 'NZ', 'AUS', 'IND', 'AUS', 'ENG', 'IND']

In [121]:
All_rounder_Team.insert(0, 'ENG')
All_rounder_Team

['ENG', 'AUS', 'SA', 'WI', 'NZ', 'AUS', 'IND', 'AUS', 'ENG', 'IND']

In [122]:
All_rounder_rating=[]
rating_All_rounder=soup.find_all('td', class_="table-body__cell rating")
for i in rating_All_rounder:
    All_rounder_rating.append(i.text.replace('\n', ''))
    
All_rounder_rating

['374',
 '359',
 '338',
 '335',
 '269',
 '249',
 '245',
 '221',
 '217',
 '206',
 '205',
 '204',
 '202',
 '186',
 '169',
 '169',
 '167',
 '156',
 '149']

In [123]:
All_rounder_Rating=[]

for i in range(0, 9):
    All_rounder_Rating.append(rating_All_rounder[i].text)
    
All_rounder_Rating

['374', '359', '338', '335', '269', '249', '245', '221', '217']

In [124]:
All_rounder_Rating.insert(0, '393')
All_rounder_Rating

['393', '374', '359', '338', '335', '269', '249', '245', '221', '217']

In [125]:
data=list(zip(All_rounder_Name, All_rounder_Team, All_rounder_Rating))

In [126]:
df=pd.DataFrame(data, columns=['All_rounder_Name', 'All_rounder_Team', 'All_rounder_Rating'])
df

   All_rounder_Name All_rounder_Team All_rounder_Rating
0    Natalie Sciver              ENG                393
1      Ellyse Perry              AUS                374
2    Marizanne Kapp               SA                359
3   Hayley Matthews               WI                338
4       Amelia Kerr               NZ                335
5  Ashleigh Gardner              AUS                269
6     Deepti Sharma              IND                249
7     Jess Jonassen              AUS                245
8   Katherine Brunt              ENG                221
9    Jhulan Goswami              IND                217

# Q7. Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

In [127]:
url=requests.get("https://coreyms.com/")
url

In [128]:
soup=BeautifulSoup(url.text, 'html.parser')

In [129]:
heading=soup.find('a',class_="entry-title-link")
heading.text

'Python Tutorial: Zip Files – Creating and Extracting Zip Archives'

In [130]:
date=soup.find('time',class_="entry-time")
date.text

'November 19, 2019'

In [131]:
content=soup.find('div',class_="entry-content")
content.text

'\nIn this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…\n\n'

In [132]:
Heading=[]

for i in soup.find_all('a',class_="entry-title-link"):
    Heading.append(i.text)
    
Heading

['Python Tutorial: Zip Files – Creating and Extracting Zip Archives',
 'Python Data Science Tutorial: Analyzing the 2019 Stack Overflow Developer Survey',
 'Python Multiprocessing Tutorial: Run Code in Parallel Using the Multiprocessing Module',
 'Python Threading Tutorial: Run Code Concurrently Using the Threading Module',
 'Update (2019-09-03)',
 'Python Quick Tip: The Difference Between “==” and “is” (Equality vs Identity)',
 'Python Tutorial: Calling External Commands Using the Subprocess Module',
 'Visual Studio Code (Windows) – Setting up a Python Development Environment and Complete Overview',
 'Visual Studio Code (Mac) – Setting up a Python Development Environment and Complete Overview',
 'Clarifying the Issues with Mutable Default Arguments']

In [133]:
Date=[]

for i in soup.find_all('time',class_="entry-time"):
    Date.append(i.text)
    
Date

['November 19, 2019',
 'October 17, 2019',
 'September 21, 2019',
 'September 12, 2019',
 'September 3, 2019',
 'August 6, 2019',
 'July 24, 2019',
 'May 1, 2019',
 'May 1, 2019',
 'April 24, 2019']

In [134]:
Content=[]

for i in soup.find_all('div',class_="entry-content"):
    Content.append(i.text)
    
Content

['\nIn this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…\n\n',
 '\nIn this Python Programming video, we will be learning how to download and analyze real-world data from the 2019 Stack Overflow Developer Survey. This is terrific practice for anyone getting into the data science field. We will learn different ways to analyze this data and also some best practices. Let’s get started…\n\n\n\n',
 '\nIn this Python Programming video, we will be learning how to run code in parallel using the multiprocessing module. We will also look at how to process multiple high-resolution images at the same time using a ProcessPoolExecutor from the concurrent.futures module. Let’s get started…\n\n\n\n',
 '\nIn this Python Programming video, we will be learning how to run threads concurrently using the threading module. We will also look at how to download multiple high-resolution images online using a ThreadPoolExecutor from the concurrent.futures module. Let’s get started…\n\n\n\n',
 '\nHey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then you can expect much faster video releases. I really appreciate how patient everyone has been while I go through this move, especially those of you who are contributing monthly through YouTube \n',
 '\nIn this Python Programming Tutorial, we will be learning the difference between using “==” and the “is” keyword when doing comparisons. The difference between these is that “==” checks to see if values are equal, and the “is” keyword checks their identity, which means it’s going to check if the values are identical in terms of being the same object in memory. We’ll learn more in the video. Let’s get started…\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to run external commands using the subprocess module from the standard library. We will learn how to run commands, capture the output, handle errors, and also how to pipe output into other commands. Let’s get started…\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on Windows. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…\nVSCode on MacOS – https://youtu.be/06I63_p-2A4\nTimestamps for topics in this tutorial: Installation – 1:13 Python Extension – 5:48 Switching Interpreters – 10:04 Changing Color Themes – 12:35 VSCode Settings – 16:16 Set Default Python – 21:33 Using Virtual Environments – 25:10 IntelliSense – 29:45 Code Formatting – 32:13 Code Linting – 37:06 Code Runner Extension – 39:42 Git Integration – 47:44 Use Different Terminal – 51:07 Debugging – 58:45 Unit Testing – 1:03:25 Zen Mode – 1:09:55\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on MacOS. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…\nVSCode on Windows – https://youtu.be/-nh9rCzPJ20\nTimestamps for topics in this tutorial: Installation – 1:11 Python Extension – 6:21 Switching Interpreters – 10:16 Changing Color Themes – 13:08 VSCode Settings – 17:12 Set Default Python – 22:24 Using Virtual Environments – 25:52 IntelliSense – 30:28 Code Formatting – 33:08 Code Linting – 38:01 Code Runner Extension – 40:45 Git Integration – 49:05 Debugging – 58:15 Unit Testing – 1:02:38 Zen Mode – 1:10:42 \n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be clarifying the issues with mutable default arguments. We discussed this in my last video titled “5 Common Python Mistakes and How to Fix Them”, but I received many comments from people who were still confused. So we will be doing a deeper dive to explain exactly what is going on here. Let’s get started…\n\n\n\n']

In [135]:
data=list(zip(Heading, Date, Content))

In [136]:
import pandas as pd
df=pd.DataFrame(data, columns=['Heading', 'Time', 'Content'])
df

,Heading,Time,Content
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","\nIn this video, we will be learning how to cr..."
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","\nIn this Python Programming video, we will be..."
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","\nIn this Python Programming video, we will be..."
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","\nIn this Python Programming video, we will be..."
4,Update (2019-09-03),"September 3, 2019",\nHey everyone. I wanted to give you an update...
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","\nIn this Python Programming Tutorial, we will..."
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","\nIn this Python Programming Tutorial, we will..."
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","\nIn this Python Programming Tutorial, we will..."
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","\nIn this Python Programming Tutorial, we will..."
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","\nIn this Python Programming Tutorial, we will..."

# Q8. Write a python program to scrape house details from mentioned URL. It should include house title, location, area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

In [175]:
import requests
from bs4 import BeautifulSoup

In [176]:
url=requests.get('https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciIsInNob3dNYXAiOmZhbHNlfSx7ImxhdCI6MTIuOTMwNzczNSwibG9uIjo3Ny41ODM4MzAyLCJwbGFjZUlkIjoiQ2hJSjJkZGxaNWdWcmpzUmgxQk9BYWYtb3JzIiwicGxhY2VOYW1lIjoiSmF5YW5hZ2FyIiwic2hvd01hcCI6ZmFsc2V9LHsibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIiLCJzaG93TWFwIjpmYWxzZX1d&radius=2.0&city=bangalore&locality=Indiranagar')

In [177]:
url

In [178]:
soup=BeautifulSoup(url.text, 'html.parser')

In [179]:
title=soup.find_all('span', class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full")

In [180]:
House_title=[]

for i in range(0, 20):
    House_title.append(title[i].text)
    
House_title

['4+ BHK In Independent House  For Sale  In Indira Nagar',
 '3 BHK Flat  For Sale  In Rrbc Piccassso In Jayanagar',
 '4+ BHK In Independent House  For Sale  In Rajajinagar',
 "4 BHK In Independent House  For Sale  In Jayanagar 4th 't' Block",
 '3 BHK Flat  For Sale  In Shree Rameshwara Nilaya In Rajaji Nagar',
 '4+ BHK In Independent House  For Sale  In Rajaji Nagar',
 '3 BHK Apartment  For Sale  In Laa Royal Manor In Indiranagar',
 '2 BHK Flat  For Sale  In Pallava Terrace In Jayanagar',
 '4+ BHK In Independent House  For Sale  In Rajaji Nagar',
 '3 BHK Apartment  For Sale  In Admiralty Manor, Indiranagar In Indiranagar',
 '2 BHK Apartment  For Sale  In Jains Prakriti In Jayanagar',
 '3 BHK Flat  For Sale  In Benaka Apartments In Hal 2nd Stage, Indiranagar',
 '4 BHK In Independent House  For Sale  In Indira Nagar',
 '2 BHK Apartment  For Sale  In Blueberry Apartment In Indiranagar',
 '4+ BHK In Independent House  For Sale  In Lakshmipuram Indrinagar',
 '2 BHK Apartment  For Sale  In Tarang Parkway Apartment In Basaveshwar Nagar',
 '3 BHK Apartment  For Sale  In Brigade Gateway In Rajaji Nagar',
 '2 BHK Flat  For Sale  In Jains Prakruti, Jayanagar In Jayanagar 7th Block',
 '4+ BHK In Independent House  For Sale  In Rajajinagar',
 '3 BHK Flat  For Sale  In Rajaji Nagar']

In [181]:
loc=soup.find_all('div', class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95")

In [182]:
Location=[]

for i in range(0, 20):
    Location.append(loc[i].text)
    
Location

['Independent House, near cmh road metro station',
 'Municipal No.152, 18th main road, beside Sai Baba Temple, Jayanagara 9th Block, Jayanagar, Bengaluru, Karnataka 560056, India',
 'Independent House, 5th Block, near National Public School RNR',
 'Independent House, Jayanagar SBI Branch 9th blk, 4th T Blk CafÃ\x83Â© CoffeeDay,Bunny Bakers, Tazaa Thindi',
 'manjunath road near The illusion Cafe',
 'Independent House,  6th Cross road,9th main road  Prakash Nagar, Near Metro Station,  BBMP YOGA CENTRE',
 'Laa Royal ManorÂ\xa0 11th Cross Rd, 8th cross, HAL 2nd Stage, Indiranagar',
 '17, Pallava Terrace, North Main Road, 6th Block, Yediyur, Jayanagar, Bengaluru, Karnataka 560082, India',
 'Independent House, 6th C cross 3rd main rd near Ayyappa Temple',
 'Admiralty Manor, IndiranagarÂ\xa0 Admiralty Manor, 6th Main Rd, Eshwara Layout, Indiranagar, Bengaluru, Karnataka 560008, India',
 'Jains PrakritiÂ\xa0  Kanakapura Rd, 7th Block West, 7th Block, Jayanagar, Bengaluru, Karnataka 560070, India',
 '16th D main, HAL 2nd stage, Indiranagar ,  Bengaluru, Karnataka 560038, India',
 'Independent House, 2nd stage ,9th cross',
 'Blueberry ApartmentÂ\xa0 13th E Main Rd, Channakesahava Nagar, HAL 2nd Stage, Doopanahalli, Indiranagar, Bengaluru, Karnataka 560008, India',
 'Independent House, CMH Rd , Near B P Bakery',
 'Tarang Parkway ApartmentÂ\xa0 2nd Main Rd, Shivanagar, Basaveshwar Nagar, Bengaluru, Karnataka 560010, India',
 'Brigade GatewayÂ\xa0 Dr Rajkumar Road, Rajaji Nagar, Bengaluru, Karnataka 560055, India',
 'Kanakapura Road, Jayanagar, Bangalore, Karnataka, INDIA.',
 'Independent House, 6th Cross Rd, 2nd Block  near  SMC Enclave ',
 'Independent House, 242, 27th cross, 2nd Block, Rajajinagar, Bangalore-560010']

In [183]:
emi=soup.find_all('div', class_="flex flex-col w-33pe items-center border-r border-r-solid border-card-overview-border-color tp:w-half po:w-full last:border-r-1")

In [184]:
House_EMI=[]

for i in range(1, 40, 2):
    House_EMI.append(emi[i].text.replace('â\x82¹', ''))
    
House_EMI

['4.01 Lacs/MonthEstimated EMI',
 '1.68 Lacs/MonthEstimated EMI',
 '1.86 Lacs/MonthEstimated EMI',
 '1.55 Lacs/MonthEstimated EMI',
 '63,045/MonthEstimated EMI',
 '63,045/MonthEstimated EMI',
 '1.58 Lacs/MonthEstimated EMI',
 '42,985/MonthEstimated EMI',
 '77,374/MonthEstimated EMI',
 '85,971/MonthEstimated EMI',
 '1.15 Lacs/MonthEstimated EMI',
 '48,717/MonthEstimated EMI',
 '1.69 Lacs/MonthEstimated EMI',
 '87,691/MonthEstimated EMI',
 '63,045/MonthEstimated EMI',
 '57,314/MonthEstimated EMI',
 '1.5 Lacs/MonthEstimated EMI',
 '85,971/MonthEstimated EMI',
 '83,679/MonthEstimated EMI',
 '77,374/MonthEstimated EMI']

In [185]:
price = soup.find_all('div', class_="flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r-0")

In [186]:
House_Price = []

for i in range(0, 20):
    House_Price.append(price[i].text.replace('â\x82¹', ' '))
    
House_Price

[' 7 Crores 14,000 per sq.ft.',
 ' 2.93 Crores 14,384 per sq.ft.',
 ' 3.25 Crores 10,833 per sq.ft.',
 ' 2.7 Crores 10,800 per sq.ft.',
 ' 1.1 Crores 9,167 per sq.ft.',
 ' 1.1 Crores 8,333 per sq.ft.',
 ' 2.75 Crores 13,033 per sq.ft.',
 ' 75 Lacs 7,042 per sq.ft.',
 ' 1.35 Crores 6,136 per sq.ft.',
 ' 1.5 Crores 7,653 per sq.ft.',
 ' 2 Crores 15,408 per sq.ft.',
 ' 85 Lacs 6,386 per sq.ft.',
 ' 2.95 Crores 11,569 per sq.ft.',
 ' 1.53 Crores 14,246 per sq.ft.',
 ' 1.1 Crores 4,889 per sq.ft.',
 ' 1 Crore 8,333 per sq.ft.',
 ' 2.62 Crores 16,000 per sq.ft.',
 ' 1.5 Crores 11,530 per sq.ft.',
 ' 1.46 Crores 6,518 per sq.ft.',
 ' 1.35 Crores 10,588 per sq.ft.']

In [187]:
data= list(zip(House_title, Location, House_EMI, House_Price))

In [188]:
import pandas as pd
df=pd.DataFrame(data, columns=['House_title', 'Location', 'House_EMI', 'House_Price'])
df

,House_title,Location,House_EMI,House_Price
0,4+ BHK In Independent House For Sale In Indi...,"Independent House, near cmh road metro station",4.01 Lacs/MonthEstimated EMI,"7 Crores 14,000 per sq.ft."
1,3 BHK Flat For Sale In Rrbc Piccassso In Jay...,"Municipal No.152, 18th main road, beside Sai B...",1.68 Lacs/MonthEstimated EMI,"2.93 Crores 14,384 per sq.ft."
2,4+ BHK In Independent House For Sale In Raja...,"Independent House, 5th Block, near National Pu...",1.86 Lacs/MonthEstimated EMI,"3.25 Crores 10,833 per sq.ft."
3,4 BHK In Independent House For Sale In Jayan...,"Independent House, Jayanagar SBI Branch 9th bl...",1.55 Lacs/MonthEstimated EMI,"2.7 Crores 10,800 per sq.ft."
4,3 BHK Flat For Sale In Shree Rameshwara Nila...,manjunath road near The illusion Cafe,"63,045/MonthEstimated EMI","1.1 Crores 9,167 per sq.ft."
5,4+ BHK In Independent House For Sale In Raja...,"Independent House, 6th Cross road,9th main ro...","63,045/MonthEstimated EMI","1.1 Crores 8,333 per sq.ft."
6,3 BHK Apartment For Sale In Laa Royal Manor ...,"Laa Royal ManorÂ 11th Cross Rd, 8th cross, HA...",1.58 Lacs/MonthEstimated EMI,"2.75 Crores 13,033 per sq.ft."
7,2 BHK Flat For Sale In Pallava Terrace In Ja...,"17, Pallava Terrace, North Main Road, 6th Bloc...","42,985/MonthEstimated EMI","75 Lacs 7,042 per sq.ft."
8,4+ BHK In Independent House For Sale In Raja...,"Independent House, 6th C cross 3rd main rd nea...","77,374/MonthEstimated EMI","1.35 Crores 6,136 per sq.ft."
9,"3 BHK Apartment For Sale In Admiralty Manor,...","Admiralty Manor, IndiranagarÂ Admiralty Manor...","85,971/MonthEstimated EMI","1.5 Crores 7,653 per sq.ft."
10,2 BHK Apartment For Sale In Jains Prakriti I...,"Jains PrakritiÂ Kanakapura Rd, 7th Block Wes...",1.15 Lacs/MonthEstimated EMI,"2 Crores 15,408 per sq.ft."
11,3 BHK Flat For Sale In Benaka Apartments In ...,"16th D main, HAL 2nd stage, Indiranagar , Ben...","48,717/MonthEstimated EMI","85 Lacs 6,386 per sq.ft."
12,4 BHK In Independent House For Sale In Indir...,"Independent House, 2nd stage ,9th cross",1.69 Lacs/MonthEstimated EMI,"2.95 Crores 11,569 per sq.ft."
13,2 BHK Apartment For Sale In Blueberry Apartm...,"Blueberry ApartmentÂ 13th E Main Rd, Channake...","87,691/MonthEstimated EMI","1.53 Crores 14,246 per sq.ft."
14,4+ BHK In Independent House For Sale In Laks...,"Independent House, CMH Rd , Near B P Bakery","63,045/MonthEstimated EMI","1.1 Crores 4,889 per sq.ft."
15,2 BHK Apartment For Sale In Tarang Parkway A...,"Tarang Parkway ApartmentÂ 2nd Main Rd, Shivan...","57,314/MonthEstimated EMI","1 Crore 8,333 per sq.ft."
16,3 BHK Apartment For Sale In Brigade Gateway ...,"Brigade GatewayÂ Dr Rajkumar Road, Rajaji Nag...",1.5 Lacs/MonthEstimated EMI,"2.62 Crores 16,000 per sq.ft."
17,"2 BHK Flat For Sale In Jains Prakruti, Jayan...","Kanakapura Road, Jayanagar, Bangalore, Karnata...","85,971/MonthEstimated EMI","1.5 Crores 11,530 per sq.ft."
18,4+ BHK In Independent House For Sale In Raja...,"Independent House, 6th Cross Rd, 2nd Block ne...","83,679/MonthEstimated EMI","1.46 Crores 6,518 per sq.ft."
19,3 BHK Flat For Sale In Rajaji Nagar,"Independent House, 242, 27th cross, 2nd Block,...","77,374/MonthEstimated EMI","1.35 Crores 10,588 per sq.ft."

# Q9. Write a python program to scrape mentioned details from dineout.co.in:

i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [151]:
from bs4 import BeautifulSoup
import requests

In [152]:
page= requests.get("https://www.dineout.co.in/delhi-restaurants")
page

In [153]:
soup=BeautifulSoup(page.content)

In [154]:
restaurent_name=soup.find('a', class_="restnt-name ellipsis")
restaurent_name.text

'Tamasha'

In [155]:
cuisine=soup.find('span',class_="double-line-ellipsis")
cuisine.text

'₹ 2,000 for 2 (approx) | Continental, Asian, Italian, North Indian'

In [156]:
loc=soup.find('div',class_="restnt-loc ellipsis")
loc.text

'Connaught Place, Central Delhi'

In [157]:
rating=soup.find('div', class_="restnt-rating rating-4")
rating.text

'4.2'

In [158]:
image= soup.find('img', class_="no-img")
image['data-src']

'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/a/j/p20996-145631488756cd9a0796608.jpg?tr=tr:n-medium'

In [159]:
Restaurent_Name=[]

for i in soup.find_all('a', class_="restnt-name ellipsis"):
    Restaurent_Name.append(i.text)
    
Restaurent_Name

['Tamasha',
 'Local',
 'Unplugged Courtyard',
 'The G.T. ROAD',
 'Ministry Of Beer',
 'Connaught Clubhouse Microbrewery',
 'Warehouse Cafe',
 "Chili's American Grill and Bar",
 'The Junkyard Cafe',
 'High 5 - Everyday Wholesale Bar',
 'Openhouse Cafe',
 'QBA',
 "Berco's",
 'Lord of the Drinks',
 'Sandoz',
 'Chido',
 'Out Of The Box Courtyard',
 'Dasaprakash',
 '38 Barracks',
 'The Imperial Spice',
 'Barbeque Nation']

In [160]:
Cuisine=[]

for i in soup.find_all('span',class_="double-line-ellipsis"):
    Cuisine.append(i.text)
    
Cuisine

['₹ 2,000 for 2 (approx) | Continental, Asian, Italian, North Indian',
 '₹ 2,000 for 2 (approx) | North Indian, Asian, Continental',
 '₹ 3,300 for 2 (approx) | North Indian, Italian, Chinese, Turkish, Continental',
 '₹ 1,400 for 2 (approx) | North Indian',
 '₹ 3,000 for 2 (approx) | North Indian, Continental, American, Asian',
 '₹ 1,600 for 2 (approx) | North Indian, Italian, Asian, European',
 '₹ 2,500 for 2 (approx) | North Indian, Chinese, Italian',
 '₹ 2,000 for 2 (approx) | Mexican, American, Tex Mex',
 '₹ 2,100 for 2 (approx) | North Indian, Continental, Chinese, Fast Food',
 '₹ 1,700 for 2 (approx) | North Indian, Continental, Chinese',
 '₹ 2,000 for 2 (approx) | North Indian, Asian, Italian',
 '₹ 2,100 for 2 (approx) | North Indian, Continental, Italian',
 '₹ 1,300 for 2 (approx) | Chinese',
 '₹ 2,500 for 2 (approx) | Chinese, North Indian, Fast Food',
 '₹ 1,400 for 2 (approx) | North Indian, Chinese, Continental',
 '₹ 1,800 for 2 (approx) | North Indian, Italian, Continental, Asian, Finger Food',
 '₹ 2,200 for 2 (approx) | North Indian, Mediterranean, Chinese, Italian',
 '₹ 1,200 for 2 (approx) | South Indian, Kerala, Continental, North Indian, Chinese',
 '₹ 2,700 for 2 (approx) | North Indian, Chinese, Continental',
 '₹ 3,000 for 2 (approx) | North Indian, Continental, Mughlai',
 '₹ 1,600 for 2 (approx) | North Indian, Chinese']

In [161]:
Ratings=[]

for i in soup.find_all('div', class_="restnt-rating rating-4"):
    Ratings.append(i.text)
    
Ratings

['4.2',
 '4',
 '4',
 '4.3',
 '4',
 '4.2',
 '4.1',
 '4.3',
 '4.1',
 '3.9',
 '4.1',
 '4.3',
 '4.3',
 '4.2',
 '4',
 '4.2',
 '4.1',
 '4.1',
 '4.3',
 '4.4',
 '4.4']

In [162]:
Location=[]

for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    Location.append(i.text)
    
Location

['Connaught Place, Central Delhi',
 'Scindia House,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi']

In [163]:
Images=[]

for i in soup.find_all('img', class_="no-img"):
    Images.append(i['data-src'])
    
Images

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/a/j/p20996-145631488756cd9a0796608.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/b/t/p27452-15020105505986dcb6d147f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/u/y/p20941-15700828565d959028e9f28.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/m/u/p31393-15972091555f337a43bb961.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/a/d/p32381-1495943585592a49a166fe7.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/c/z/p77626-15833232035e5f98437554f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/h/o/p420-15241335515ad86eaf373ce.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/r/w/p31397-164157705861d87a6224564.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/h/p/p20298-1447661865564991294ad1b.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/6/s/m/p69146-163921872761b47e27e5f71.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/j/y/p19748-16474299906231c96621c58.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/e/e/p29906-16183962346076c44ac433d.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/t/u/p237-16468990666229af7a72b08.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/o/g/p19975-1649416421625018e5d4198.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/e/u/p80493-16064603115fc0a397716de.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/u/d/p97184-1648026866623ae4f24ea25.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/x/t/p83921-16017104805f782990b9b0c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/x/t/p98423-1634644819616eb353a1181.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/y/q/p21171-1631359509613c92152f775.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/h/o/p42484-15683760515d7b84f35d214.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/t/p532-15448587305c14ac6a746b0.jpg?tr=tr:n-medium']

In [164]:
data=list(zip(Restaurent_Name, Cuisine, Ratings, Location, Images))

In [165]:
import pandas as pd
df=pd.DataFrame(data, columns=['Restaurent_Name', 'Cuisine', 'Ratings', 'Location', 'Images'])
df

,Restaurent_Name,Cuisine,Ratings,Location,Images
0,Tamasha,"₹ 2,000 for 2 (approx) | Continental, Asian, I...",4.2,"Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
1,Local,"₹ 2,000 for 2 (approx) | North Indian, Asian, ...",4,"Scindia House,Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
2,Unplugged Courtyard,"₹ 3,300 for 2 (approx) | North Indian, Italian...",4,"Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
3,The G.T. ROAD,"₹ 1,400 for 2 (approx) | North Indian",4.3,"M-Block,Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
4,Ministry Of Beer,"₹ 3,000 for 2 (approx) | North Indian, Contine...",4,"M-Block,Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
5,Connaught Clubhouse Microbrewery,"₹ 1,600 for 2 (approx) | North Indian, Italian...",4.2,"Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
6,Warehouse Cafe,"₹ 2,500 for 2 (approx) | North Indian, Chinese...",4.1,"Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
7,Chili's American Grill and Bar,"₹ 2,000 for 2 (approx) | Mexican, American, Te...",4.3,"M-Block,Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
8,The Junkyard Cafe,"₹ 2,100 for 2 (approx) | North Indian, Contine...",4.1,"Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
9,High 5 - Everyday Wholesale Bar,"₹ 1,700 for 2 (approx) | North Indian, Contine...",3.9,"Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
10,Openhouse Cafe,"₹ 2,000 for 2 (approx) | North Indian, Asian, ...",4.1,"Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
11,QBA,"₹ 2,100 for 2 (approx) | North Indian, Contine...",4.3,"Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
12,Berco's,"₹ 1,300 for 2 (approx) | Chinese",4.3,"Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
13,Lord of the Drinks,"₹ 2,500 for 2 (approx) | Chinese, North Indian...",4.2,"Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
14,Sandoz,"₹ 1,400 for 2 (approx) | North Indian, Chinese...",4,"Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
15,Chido,"₹ 1,800 for 2 (approx) | North Indian, Italian...",4.2,"Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
16,Out Of The Box Courtyard,"₹ 2,200 for 2 (approx) | North Indian, Mediter...",4.1,"Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
17,Dasaprakash,"₹ 1,200 for 2 (approx) | South Indian, Kerala,...",4.1,"Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
18,38 Barracks,"₹ 2,700 for 2 (approx) | North Indian, Chinese...",4.3,"M-Block,Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
19,The Imperial Spice,"₹ 3,000 for 2 (approx) | North Indian, Contine...",4.4,"M-Block,Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
20,Barbeque Nation,"₹ 1,600 for 2 (approx) | North Indian, Chinese",4.4,"Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...

# Q10. Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [166]:
from bs4 import BeautifulSoup
import requests

In [167]:
url=requests.get('https://www.bewakoof.com/women-t-shirts')

In [168]:
soup=BeautifulSoup(url.content, 'html.parser')

In [169]:
product=soup.find_all('div', class_="productCardDetail")

In [170]:
Product_info=[]

for i in range(0, 10):
    Product_info.append(product[i].text)
    
Product_info

["Women's White Kurama Graphic Printed Oversized T-shirt₹ 599989₹569For TriBe Members ",
 "Women's Black One Piece Graphic Printed Oversized T-shirt₹ 599989₹569For TriBe Members ",
 "Women's White Mario Graphic Printed Oversized T-shirt₹ 599989₹569For TriBe Members ",
 "Women's Black My Hero Academy Graphic Printed Oversized T-shirt₹ 599989₹569For TriBe Members ",
 "Women's White Minato Graphic Printed Oversized T-shirt₹ 599989₹569For TriBe Members ",
 "Women's Black Mario Graphic Printed Oversized T-shirt₹ 599989₹569For TriBe Members ",
 "Women's Black My Six Pack Printed Oversized T-shirt₹ 599989₹569For TriBe Members ",
 "Women's White BTS Graphic Printed Oversized T-shirt₹ 599989₹569For TriBe Members ",
 "Women's White Miner By Choice Graphic Printed Oversized T-shirt₹ 599989₹569For TriBe Members ",
 "Women's Black Itachi Graphic Printed Oversized T-shirt₹ 599989₹569For TriBe Members "]

In [171]:
Product_Price=[]
price=soup.find_all('span', class_="discountedPriceText")

for i in range(0, 10):
    Product_Price.append(price[i].text)
    
Product_Price

['₹ 599',
 '₹ 599',
 '₹ 599',
 '₹ 599',
 '₹ 599',
 '₹ 599',
 '₹ 599',
 '₹ 599',
 '₹ 599',
 '₹ 599']

In [172]:
Product_image_url=[]
image= soup.find_all('div', class_="productCardImg false")
for i in range(0, 10):
    Product_image_url.append(image[i])
    
Product_image_url

[<div class="productCardImg false"><div class="productImg" style="width:100%;padding-top:125%;position:relative;background:rgb(248, 246, 247)"><img alt="Shop Women's White Kurama Graphic Printed Oversized T-shirt-Front" class="productImgTag" height="100%" src="https://images.bewakoof.com/t320/women-s-white-kurama-graphic-printed-oversized-t-shirt-492970-1650967274-1.jpg" title="Women's White Kurama Graphic Printed Oversized T-shirt-Front Bewakoof" width="100%"/></div><div class="productStatusBox"><span class="wishProduct"><i class="icon_wishlist" id="testCatHeart"></i></span></div><div class="bottomTag"><div class="productTypeBox"><p>Oversized fit</p></div></div></div>,
 <div class="productCardImg false"><div class="productImg" style="width:100%;padding-top:125%;position:relative;background:rgb(246, 248, 245)"><img alt="Shop Women's Black One Piece Graphic Printed Oversized T-shirt-Front" class="productImgTag" height="100%" src="https://images.bewakoof.com/t320/women-s-black-one-piece-graphic-printed-oversized-t-shirt-492999-1650967371-1.jpg" title="Women's Black One Piece Graphic Printed Oversized T-shirt-Front Bewakoof" width="100%"/></div><div class="productStatusBox"><span class="wishProduct"><i class="icon_wishlist" id="testCatHeart"></i></span></div><div class="bottomTag"><div class="productTypeBox"><p>Oversized fit</p></div></div></div>,
 <div class="productCardImg false"><div class="productImg" style="width:100%;padding-top:125%;position:relative;background:rgb(245, 246, 247)"><img alt="Shop Women's White Mario Graphic Printed Oversized T-shirt-Front" class="productImgTag" height="100%" src="https://images.bewakoof.com/t320/women-s-white-mario-graphic-printed-oversized-t-shirt-492974-1650967296-1.jpg" title="Women's White Mario Graphic Printed Oversized T-shirt-Front Bewakoof" width="100%"/></div><div class="productStatusBox"><span class="wishProduct"><i class="icon_wishlist" id="testCatHeart"></i></span></div><div class="bottomTag"><div class="productTypeBox"><p>Oversized fit</p></div></div></div>,
 <div class="productCardImg false"><div class="productImg" style="width:100%;padding-top:125%;position:relative;background:rgb(245, 246, 247)"><img alt="Shop Women's Black My Hero Academy Graphic Printed Oversized T-shirt-Front" class="productImgTag" height="100%" src="https://images.bewakoof.com/t320/women-s-black-my-hero-academy-graphic-printed-oversized-t-shirt-492980-1650967306-1.jpg" title="Women's Black My Hero Academy Graphic Printed Oversized T-shirt-Front Bewakoof" width="100%"/></div><div class="productStatusBox"><span class="wishProduct"><i class="icon_wishlist" id="testCatHeart"></i></span></div><div class="bottomTag"><div class="productTypeBox"><p>Oversized fit</p></div></div></div>,
 <div class="productCardImg false"><div class="productImg" style="width:100%;padding-top:125%;position:relative;background:rgb(245, 249, 246)"><img alt="Shop Women's White Minato Graphic Printed Oversized T-shirt-Front" class="productImgTag" height="100%" src="https://images.bewakoof.com/t320/women-s-white-minato-graphic-printed-oversized-t-shirt-492976-1650967285-1.jpg" title="Women's White Minato Graphic Printed Oversized T-shirt-Front Bewakoof" width="100%"/></div><div class="productStatusBox"><span class="wishProduct"><i class="icon_wishlist" id="testCatHeart"></i></span></div><div class="bottomTag"><div class="productTypeBox"><p>Oversized fit</p></div></div></div>,
 <div class="productCardImg false"><div class="productImg" style="width:100%;padding-top:125%;position:relative;background:rgb(247, 247, 248)"><img alt="Shop Women's Black Mario Graphic Printed Oversized T-shirt-Front" class="productImgTag" height="100%" src="https://images.bewakoof.com/t320/women-s-black-mario-graphic-printed-oversized-t-shirt-492973-1650967350-1.jpg" title="Women's Black Mario Graphic Printed Oversized T-shirt-Front Bewakoof" width="100%"/></div><div class="productStatusBox"><span class="wishProduct"><i class="icon_wishlist" id="testCatHeart"></i></span></div><div class="bottomTag"><div class="productTypeBox"><p>Oversized fit</p></div></div></div>,
 <div class="productCardImg false"><div class="productImg" style="width:100%;padding-top:125%;position:relative;background:rgb(248, 247, 249)"><img alt="Shop Women's Black My Six Pack Printed Oversized T-shirt-Front" class="productImgTag" height="100%" src="https://images.bewakoof.com/t320/women-s-black-my-six-packs-printed-oversized-t-shirt-492981-1650967360-1.jpg" title="Women's Black My Six Pack Printed Oversized T-shirt-Front Bewakoof" width="100%"/></div><div class="productStatusBox"><span class="wishProduct"><i class="icon_wishlist" id="testCatHeart"></i></span></div><div class="bottomTag"><div class="productTypeBox"><p>Oversized fit</p></div></div></div>,
 <div class="productCardImg false"><div class="productImg" style="width:100%;padding-top:125%;position:relative;background:rgb(248, 246, 249)"><img alt="Shop Women's White BTS Graphic Printed Oversized T-shirt-Front" class="productImgTag" height="100%" src="https://images.bewakoof.com/t320/women-s-white-bts-graphic-printed-oversized-t-shirt-492960-1650967328-1.jpg" title="Women's White BTS Graphic Printed Oversized T-shirt-Front Bewakoof" width="100%"/></div><div class="productStatusBox"><span class="wishProduct"><i class="icon_wishlist" id="testCatHeart"></i></span></div><div class="bottomTag"><div class="productTypeBox"><p>Oversized fit</p></div></div></div>,
 <div class="productCardImg false"><div class="productImg" style="width:100%;padding-top:125%;position:relative;background:rgb(249, 248, 245)"><img alt="Shop Women's White Miner By Choice Graphic Printed Oversized T-shirt-Front" class="productImgTag" height="100%" src="https://images.bewakoof.com/t320/women-s-white-miner-by-choice-graphic-printed-oversized-t-shirt-492977-1650967339-1.jpg" title="Women's White Miner By Choice Graphic Printed Oversized T-shirt-Front Bewakoof" width="100%"/></div><div class="productStatusBox"><span class="wishProduct"><i class="icon_wishlist" id="testCatHeart"></i></span></div><div class="bottomTag"><div class="productTypeBox"><p>Oversized fit</p></div></div></div>,
 <div class="productCardImg false"><div class="productImg" style="width:100%;padding-top:125%;position:relative;background:rgb(249, 249, 248)"><img alt="Shop Women's Black Itachi Graphic Printed Oversized T-shirt-Front" class="productImgTag" height="100%" src="https://images.bewakoof.com/t320/women-s-black-itachi-graphic-printed-oversized-t-shirt-492966-1650967382-1.jpg" title="Women's Black Itachi Graphic Printed Oversized T-shirt-Front Bewakoof" width="100%"/></div><div class="productStatusBox"><span class="wishProduct"><i class="icon_wishlist" id="testCatHeart"></i></span></div><div class="bottomTag"><div class="productTypeBox"><p>Oversized fit</p></div></div></div>]

In [173]:
data=list(zip(Product_info, Product_Price, Product_image_url))

In [174]:
import pandas as pd
df=pd.DataFrame(data, columns=['Product_info', 'Product_Price', 'Product_image_url'])
df

,Product_info,Product_Price,Product_image_url
0,Women's White Kurama Graphic Printed Oversized...,₹ 599,"[[[]], [[<i class=""icon_wishlist"" id=""testCatH..."
1,Women's Black One Piece Graphic Printed Oversi...,₹ 599,"[[[]], [[<i class=""icon_wishlist"" id=""testCatH..."
2,Women's White Mario Graphic Printed Oversized ...,₹ 599,"[[[]], [[<i class=""icon_wishlist"" id=""testCatH..."
3,Women's Black My Hero Academy Graphic Printed ...,₹ 599,"[[[]], [[<i class=""icon_wishlist"" id=""testCatH..."
4,Women's White Minato Graphic Printed Oversized...,₹ 599,"[[[]], [[<i class=""icon_wishlist"" id=""testCatH..."
5,Women's Black Mario Graphic Printed Oversized ...,₹ 599,"[[[]], [[<i class=""icon_wishlist"" id=""testCatH..."
6,Women's Black My Six Pack Printed Oversized T-...,₹ 599,"[[[]], [[<i class=""icon_wishlist"" id=""testCatH..."
7,Women's White BTS Graphic Printed Oversized T-...,₹ 599,"[[[]], [[<i class=""icon_wishlist"" id=""testCatH..."
8,Women's White Miner By Choice Graphic Printed ...,₹ 599,"[[[]], [[<i class=""icon_wishlist"" id=""testCatH..."
9,Women's Black Itachi Graphic Printed Oversized...,₹ 599,"[[[]], [[<i class=""icon_wishlist"" id=""testCatH..."